.navbar-toggler-icon {
    color: white !important;
}

.navbar {
    font-family: "Open Sans";
    background-color: #0053A5 !important;
    max-width: 1280px;
    margin: auto;
    height: 40px;
}

.nav-content {
    font-family: "Open Sans";
    background-color: #0053A5 !important;
    padding: 5px;
    margin-bottom: 15px;
}

li a.nav-link {
    color: white !important;
    font-size: 16px;
    font-weight: bold;
    line-height: 100% !important;
}

a.dropdown-item {
    font-size: 16px;
}

li {
    margin-right: 10px;
}

.dropdown-item {
    color: black !important;
    /* height: 45px; */
    vertical-align: middle;
    line-height: 100%;
    margin-top: 5px;
    margin-bottom: 5px;
}

.navbar-brand {
    font-size: 1.2rem;
    font-weight: bold;
}

.navbar-right li a {
    text-align: right;
}

li {
    margin-bottom: unset !important;
}

a.nav-link:hover {
    outline: none;
}

a.nav-link:focus {
    outline: none;
    background-color: #0053A5 !important;
    color: white !important;
}

li a {
    vertical-align: middle !important;
}

@media (max-width: 992px) {
    .navbar-brand {
        font-size: 1.2rem;
        font-weight: bold;
    }

    .navbar {
        font-family: "Open Sans";
        background-color: #0053A5 !important;
        max-width: 1280px;
        margin: auto;
        height: unset;
    }
    

    /* li a {
        font-size: 16px;
    } */
 
    .navbar-toggler-icon {
        height: 25px !important;
    }
}