.navbar-toggler-icon {
    color: white !important;
}

.navbar {
    font-family: "Open Sans";
    background-color: #0053A5 !important;
    max-width: 1280px;
    margin: auto;
}

.nav-content {
    font-family: "Open Sans";
    background-color: #0053A5 !important;
    padding: 5px;
    margin-bottom: 15px;
}

li a {
    color: white !important;
    font-size: 20px;
    font-weight: bold;
    line-height: 100% !important;
}

li {
    margin-right: 10px;
}

.dropdown-item {
    color: black !important;
    height: 45px;
    vertical-align: middle;
    line-height: 100%;
}

.navbar-brand {
    font-size: 1.5rem;
    font-weight: bold;
}

.navbar-right li a {
    text-align: right;
}

li {
    margin-bottom: unset !important;
}

a:hover {
    outline: none;
}

a:focus {
    outline: none;
    background-color: #0053A5 !important;
    color: white !important;
}

li a {
    vertical-align: middle !important;
}

@media (max-width: 992px) {
    .navbar-brand {
        font-size: 1.3rem;
    }

    li a {
        font-size: 16px;
    }
 
    .navbar-toggler-icon {
        height: 25px !important;
    }
}